.ui.inverted.top.fixed.menu {
    background-image: linear-gradient(135deg, rgb(22, 91, 126) 0%, rgb(33, 138, 174) 69%, rgb(59, 179, 189) 89%) !important;
}

.react-calendar {
    width: 100%;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.react-datepicker-wrapper {
    width: 100%;
}

.buttonSlot {
    height: 32px;
    color: rgb(59, 179, 189);
    font-size: 12px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 500;
    border-radius: 2px;
    background-color: rgb(243, 250, 251);
}

.buttonSlot:hover,
.buttonSlot:active {
    border-color: rgb(59, 179, 189);
}

.buttonSlot:disabled {
    color: rgb(174, 181, 188);
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 2px;
    pointer-events: none;
    touch-action: none;
    text-align: center;
    width: 90%;
}

.selected {
    background-color: rgb(59, 179, 189);
    color: rgb(255, 255, 255);
}

.selectedDay {
    padding-left: 2px;
    font: inherit;
    font-weight: 500;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 2px;
    background-color: rgb(59, 179, 189);
    color: rgb(255, 255, 255);
    margin-left: 0.5rem;
}
